[[language]]
name = "markdown"
soft-wrap.enable = true

[language-server.texlab]
command = "texlab"

# onSave doesn't seem to work with Helix. Use C-b in config.toml instead.
[language-server.texlab.config.build]
executable = "pdflatex"
args = ["-interaction=nonstopmode", "-output-directory=output", "%f"]
onSave = false
auxDirectory = "output"

[language-server.texlab.config.chktex]
onOpenAndSave = true
onEdit = true

[[language]]
name = "latex"
language-servers = ["texlab"]
soft-wrap.enable = true

[[language]]
name = "c"
auto-format = true

[[language]]
name = "html"
formatter = { command = 'prettier', args = ["--parser", "html"] }
auto-format = true

[[language]]
name = "nunjucks"
formatter = { command = 'prettier', args = ["--parser", "html"] }
auto-format = true

[[language]]
name = "json"
formatter = { command = 'prettier', args = ["--parser", "json"] }
auto-format = true

[[language]]
name = "css"
formatter = { command = 'prettier', args = ["--parser", "css"] }
auto-format = true

[[language]]
name = "javascript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "tsx"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "python"
auto-format = true
