[[language]]
name = "markdown"
auto-format = true
soft-wrap.enable = true
language-servers = ["markdown-oxide", "mpls"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "markdown"]}

[language-server.mpls]
command = "mpls"
args = ["--dark-mode", "--enable-emoji", "--enable-wikilinks"]

[language-server.texlab]
command = "texlab"

# onSave doesn't seem to work with Helix. Use C-b in config.toml instead.
[language-server.texlab.config.build]
executable = "pdflatex"
args = ["-interaction=nonstopmode", "-output-directory=output", "%f"]
onSave = false
auxDirectory = "output"

[language-server.texlab.config.chktex]
onOpenAndSave = true
onEdit = true

[[language]]
name = "latex"
language-servers = ["texlab"]
soft-wrap.enable = true

[[language]]
name = "c"
auto-format = true

[[language]]
name = "html"
formatter = { command = "dprint", args = ["fmt", "--stdin", "html"]}
auto-format = true

[[language]]
name = "nunjucks"
formatter = { command = "dprint", args = ["fmt", "--stdin", "html"]}
auto-format = true

[[language]]
name = "json"
formatter = { command = "dprint", args = ["fmt", "--stdin", "json"]}
auto-format = true

[[language]]
name = "jsonc"
formatter = { command = "dprint", args = ["fmt", "--stdin", "json"]}
auto-format = true

[[language]]
name = "javascript"
formatter = { command = "dprint", args = ["fmt", "--stdin", "javascript"]}
auto-format = true

[[language]]
name = "typescript"
formatter = { command = "dprint", args = ["fmt", "--stdin", "typescript"]}
auto-format = true

[[language]]
name = "tsx"
formatter = { command = "dprint", args = ["fmt", "--stdin", "typescript"]}
auto-format = true

[[language]]
name = "python"
auto-format = true
